<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign UP</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="center">
        <form action="/home" method="post">
            <label for="mobile" >Mobile : </label>
<input type="text" name="mobile">
<br><br>

<label for="password">Password :</label>
<input type="text" name="password">
<br><br>

<label for="nid_value">NID Number :</label>
<input type="text" name="nid_value">
<br><br>
<button class="btn-primary" type="submit"> Sign UP</button>

</form>
    </div>



</body>
</html>